@charset "UTF-8";

body {
    
    background-image: url(exercícios/ex022/imagens/wallpaper001.jpg);



}

.quadrado1 {

    background-position: center center;
}


/* .quadrado {
    display: inline-block;
    background-color: aqua;
    width: 570px;
    height: 320px;
    border: solid black;
    border-radius: 10px;
} */




.quadrado1#q1 {

    background-color: aqua;
    width: 570px;
    height: 320px;
    border: solid black;
    border-radius: 10px;
    background-position: right bottom;

}

.quadrado2#q2 {

    width: 570px;
    height: 320px;
    border: solid black;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, yellow, black);
}

.quadrado3#q3 {
    background-color: aqua;
    width: 570px;
    height: 320px;
    border: solid black;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-image: url(desafios/d010/imagens/irina-blok-pq.jpg);
    background-position: center center;
}