* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-image: url(sub-imagem/matrix.png);
    
    padding: 20px; /*distânci da borda*/
    background-size: cover;
    height: 100vh;
    /* altura */
    width: 100vw;
    /* largura */
    display: flex;
    align-items: center;
    justify-content: center;



}



.afazeres {
    color: blue;
    margin-top: 5px;
    
}
.compras {
    color: white;
    margin-top: 3px;/*a compras distanciou em cima
    margin-botton em baixo*/
}
h1 {color: rgb(255, 0, 234);
margin-top: 230px;}
h2 {margin-top: 3px;}
.fundo {
    background-color: rgba(0, 255, 255, 0.568);
    
    height: 150vh;
    width: 50vw;
    width: 75%;
    /* largura */
    max-width: 1000px;
    border-radius: 30px;
    /* arredondar borda */
    padding: 30px; /*distânci da borda*/
   
}

.linguagens {
    color: white;
    margin-top: 1px;

.antigas {
    
    padding: 1px;
    color: chartreuse;
}

.novas {
    padding: 1px;
    color: blueviolet;
}

    

}